.nav_two{display:none;}
.nav_all:hover{
    .nav_two{display:block;z-index:10000;}
}
.xzoom{position:relative;}
.minzoom{position: absolute;width:50px;height:50px;border:1px solid #fc0;background-color:#ff0;background-color: rgba(255,255,0,.3);filter:alpha(Opacity=30);}
.xzoom-big{position: absolute;width:200px;height:300px;overflow:hidden;}
.xzoom-big img{position: absolute;left:0;right:0;}
#main_bod{height:800px;width: 1220px;margin:0 auto;
    .nav_gdt{color:#A0A0A0;font-size: 12px;padding-top:5px;
        a{color:#A0A0A0;font-size: 12px;}
    }
    .headline{padding-top:10px;
        h1{font-size: 16px;}
        ul{font-size: 14px;margin-bottom:20px;
            li:nth-child(1){float:left;color:#aa1800;}
            li:nth-child(2){float:right;}
        }
    }
    .main_con{
        .goods_box{width: 992px;height: 642px;float:left;border:1px solid #E1E1E1;
            .glass_box{width: 442px;height: 568px;padding:10px;float:left;
                .maxglass{width: 422px;height: 491px;position:relative;
                    .gl_img{display:block;width: 420px;height: 420px;border:1px solid #eee;position:relative;
                        img{width: 420px;height: 420px;}
                    }

                    ul{
                        li{float:left;margin:10px 0 0 20px;width: 60px;height: 60px;
                            a{display:block;width: 59px;height: 59px;border:1px solid #999999;}
                        }
                    }
                }
                    .glass_end{height: 30px;margin-top:20px;
                        p{float:left;padding-left:20px;font-size:13px;
                            span{color:#FF7357;}
                            i{display:block;width: 20px;height: 24px;background-image:url(../css/img/sprite1.fw.png);background-position: -712px -1px;float:left;}
                        }
                        ul{float:right;font-size: 13px;padding-right:20px;
                            >li{float:left;
                                >a{display:block;width: 28px;height: 29px;background-image:url(../css/img/sprite1.fw.png);background-position: -619px 0px;margin-top:-5px;}
                            }
                            >li:nth-child(3){
                                >a{background-position: -651px 0px;}
                            }
                            >li:nth-child(4){
                                >a{background-position: -682px 0px;}
                            }
                            >li:nth-child(5){position:relative;
                                >a{width:21px;margin-top:-1px;background-position: -735px 0px;}
                                div{position:absolute;left: 0;top:-222px;width: 226px;height: 366px;background-color:#fff;border:1px solid #eee;display:none;
                                    dl{
                                        dt{color:#666;background-color:#F6F6F6;padding:10px 0 10px 20px;font-size: 16px;}
                                        dd{float:left;padding:10px 0 10px 30px;width: 80px;
                                            a{color:#565656;font-size: 12px;}
                                            &:hover{background-color:#c6c6c6;}
                                        }
                                    }
                                    p{float:right;padding-top:10px;
                                        a{color:#565656;}
                                        a:hover{color:skyblue;}
                                    }
                                }
                                &:hover{
                                    div{display:block;}
                                }
                            }
                        }
                    }
            }
            .buy{width:520px;height: 642px;float:right;
                .buy_hea{height:94px;background-color:#F31200;
                    >ul{color:#fff;
                        li{float:left}
                        li:nth-child(1){height: 94px;width: 71px;background-color:#AA1800;line-height:94px;text-align:center;}
                        li:nth-child(2){padding-left:20px;
                            dl{margin-top:20px;
                                dt{font-size: 12px;}
                                dd{float:left;font-size: 14px;padding:20px 20px 0 0;}
                                dd:nth-child(1){margin-top:10px;}
                                dd:nth-child(2){font-size: 25px;margin-top:-10px;}
                            }
                        }
                        li:nth-child(3){float:right;
                            a{color:#fff;font-size: 12px;}
                        }
                    }
                }
                .sale_r{width: 520px;
                   ul{padding:14px 0 11px 44px;font-size: 12px;color:#A8A8A8;border-bottom:1px dotted #CBCBCB; 
                        li{padding-bottom:20px;}
                        li:nth-child(1){
                            span:nth-child(1){float:left;color:#666666;}
                            .slae_price{color:#FF7300;}
                            i{display:block;width: 80px;height: 23px;background-image:url(../css/img/sprite1.fw.png);background-position: -328px -41px;float:left;}
                        }
                        li:nth-child(2) span{color:#FF7300;}
                        li:nth-child(3){
                            span:nth-child(1){color:#000;}
                            span:nth-child(3){display:block;background-color:#FF7F14;width: 120px;height: 28px;float:right;line-height:28px;text-align:center;color:#fff;}
                        }
                   } 
                }
                .sale_lo{height: 88px;border-bottom:1px dotted #CBCBCB;
                    ul{padding:20px 0 0 44px;
                        li{float:left;margin-right:10px;background-color:#E72001;width: 100px;height: 28px;line-height:28px;text-align:center;padding-right:5px;
                            a{display:block;color:#fff;font-size: 13px;width: 100px;height: 28px;}
                        }
                        li:nth-child(2),li:nth-child(3){background-color:#FF6835;}
                    }
                    >a{display:block;margin:5px 140px 0 0;height: 30px;float:right;font-size: 12px;color:#0C83DF;text-decoration:underline;}
                }
                .sale_size{height: 196px;border-bottom:1px solid #CBCBCB;
                    p{margin:5px 0 0 10px;
                        a{display: block;font-size: 13px;width: 42px;height: 16px;border:2px solid #FF0000;color:#646464;padding:5px 0 5px 14px;}
                    }
                    >div{padding-top:20px;
                        >span{float:left;padding-left:10px;font-size: 13px;color:#666666;}
                        >div{float:right;
                            div{border-bottom:1px dotted #CBCBCB;
                                ul{overflow:hidden;padding-top:10px;
                                    li{float:left;padding:0 35px 10px 20px;text-align:left;color:#666666;
                                        span{font-size: 13px;font-weight:bold;}
                                        button{width: 27px;height: 28px;background-color:#F8F8F8;border:1px solid #CBCBCB;color:#6F7071;font-size: 20px;float:left;margin-top:-2px;}
                                        input{display:block;width: 46px;height: 26px;margin-top:-2px;float:left;border:1px solid #CBCBCB;}
                                        input:hover{border:1px solid #FF0000;}
                                    }
                                    li:nth-child(2){font-size: 12px;}
                                }
                            }
                            div:nth-child(3){border:none;}
                            div:nth-child(2){
                                ul{
                                    li{padding-left:18px;
                                        button:nth-child(1){margin-left:2px;}
                                    }

                                }
                            }
                        }
                    }
                    
                }
                .car_btn{height: 105px;
                    p{padding:5px 0 0 20px;color:#D61E00;font-size: 13px;
                        b{color:#D61E00;font-size: 18px;}
                        a{font-size: 13px;text-decoration:underline;color:#0CA5ED;padding-left:5px;}
                    }
                    ul{float:right;
                        li{float:left;margin:0 10px;
                            a{display: block;width: 187px;height: 48px;line-height: 48px;text-align:center;}
                            &:nth-child(1) a{
                                background-color:#E52019;margin-top:2px;color:#fff;
                            }
                            &:nth-child(2) a{
                                background-color:#FDF1EE;border:2px solid #F2968D;color:#B91A00;    
                        }
                        }
                    }
                }
            }
         }
        .gim{width: 222px;height: 580px;float:right;border:1px solid #E1E1E1;
            h3{width: 223px;height: 28px;color: #666;text-indent: 24px;line-height: 28px;font-size: 13px;background-color:#F8F8F8;border-bottom:1px solid #D7D7D7;}
            .company{height: 265px;padding: 22px 24px 0px;border-bottom:1px solid #CBCBCB;
                dl{width: 174px;height: 95px;padding-bottom:20px;
                    dt{padding-bottom:12px;
                        a{color:blue;font-size: 13px;}
                    }
                    dd{padding-bottom: 5px;color:#666666;font-size: 13px;
                        a{color:#666666;}
                    }
                    a:hover{opacity:0.8;}
                    dd:nth-child(2){position:relative;
                        a{display:block;background-image:url(../css/img/sprite1.fw.png);background-position:-90px 0;width: 80px;height: 16px;position:absolute;left:65px;top:0;}
                        }
                }
                ul{
                    li{float:left;padding-bottom:10px;font-size: 13px;
                        a{color:blue;font-size: 13px;text-decoration:underline;position:relative;
                            i{display: block;background-image:url(../css/img/sprite1.fw.png);background-position:-588px 0;width: 25px;height: 25px;position:absolute;left:-26px;top:-6px;
                            }
                        }
                        a:hover{opacity:0.8;}
                    }
                    li:nth-child(1){padding-left:10px;
                        a i{background-position:-561px 0;}
                    }
                    li:nth-child(3){padding-left:10px;}
                    li:nth-child(2){padding-left:30px;}
                    li:nth-child(5){padding-top:20px;
                        a{display:block;width: 175px;height: 30px;background-color:#DE4B33;line-height: 30px;text-align: center;text-decoration:none;color:#fff;}
                    }
                }
            }
            .com_more{
                h4{color:#535353;font-size: 13px;padding:5px 0 5px 12px;position:relative;
                    a{display: block;background-image:url(../css/img/sprite1.fw.png);background-position:-878px 0;width: 21px;height:19px;position:absolute;right:12px;top:5px;}
                    a:hover{opacity:0.8;}
                }
                ul{
                    li{float:left;padding: 0 0 10px 12px;
                        a{
                            img{width: 92px;height: 92px;}
                        }
                        span{padding-left:10px;color:#F31200;font-size: 12px;font-weight: bold;}
                    }
                }
            }
        }
    }
}