@charset "UTF-8";
#header {
  width: 1349px; }
  #header .h_top {
    width: 1349px;
    background-color: #F3F3F3; }
    #header .h_top .top {
      width: 1220px;
      height: 32px;
      margin: 0 auto; }
      #header .h_top .top .top_left li {
        float: left;
        padding: 6px 0 0 20px;
        color: #666666;
        font-size: 12px;
        position: relative; }
        #header .h_top .top .top_left li a {
          color: #666666; }
        #header .h_top .top .top_left li i {
          display: block;
          width: 19px;
          height: 19px;
          background-image: url(img/sprite1.fw.png);
          position: absolute;
          left: -3px;
          top: 5px; }
        #header .h_top .top .top_left li:nth-child(1) a:hover, #header .h_top .top .top_left li:nth-child(3) a:hover, #header .h_top .top .top_left li:nth-child(4) a:hover {
          color: orange; }
      #header .h_top .top .top_right {
        float: right; }
        #header .h_top .top .top_right li {
          float: left;
          padding: 6px 0 0 20px;
          color: #666666;
          font-size: 12px;
          position: relative; }
          #header .h_top .top .top_right li a {
            color: #666666; }
          #header .h_top .top .top_right li:nth-child(1) {
            padding-right: 30px; }
            #header .h_top .top .top_right li:nth-child(1) i {
              display: block;
              width: 26px;
              height: 18px;
              background-image: url(img/sprite1.fw.png);
              position: absolute;
              left: -10px;
              top: 5px;
              background-position: -22px 0; }
          #header .h_top .top .top_right li:nth-child(2) {
            padding-right: 20px; }
            #header .h_top .top .top_right li:nth-child(2) i {
              display: block;
              width: 14px;
              height: 21px;
              background-image: url(img/sprite1.fw.png);
              position: absolute;
              left: 2px;
              top: 5px;
              background-position: -54px 0; }
          #header .h_top .top .top_right li a:hover {
            color: orange; }
  #header .head_box {
    width: 1349px;
    height: 81px;
    margin-top: 26px; }
    #header .head_box .head {
      width: 1220px;
      margin: 0 auto; }
      #header .head_box .head .logo, #header .head_box .head .sear, #header .head_box .head .more {
        float: left; }
      #header .head_box .head .sear {
        padding-left: 50px; }
        #header .head_box .head .sear input {
          height: 30px;
          width: 500px;
          border: 3px solid #D71E00; }
        #header .head_box .head .sear button {
          height: 36px;
          width: 50px;
          margin-left: 5px;
          background-color: #D71E00;
          border: none; }
          #header .head_box .head .sear button a {
            color: #fff; }
        #header .head_box .head .sear dl {
          margin-top: 6px; }
          #header .head_box .head .sear dl dt {
            float: left;
            font-weight: bold;
            font-size: 13px;
            color: #666; }
          #header .head_box .head .sear dl dd {
            float: left;
            font-size: 12px;
            margin-left: 5px; }
            #header .head_box .head .sear dl dd a {
              display: block;
              margin-top: 1px;
              color: #666; }
            #header .head_box .head .sear dl dd a:hover {
              color: #D42000; }
            #header .head_box .head .sear dl dd .in_a1, #header .head_box .head .sear dl dd .in_a3 {
              color: #D42000; }
      #header .head_box .head .more {
        padding-left: 110px; }
        #header .head_box .head .more a {
          float: left;
          padding: 0 10px; }
  #header .nav_box {
    height: 35px;
    border-bottom: 3px solid  #D71E00; }
    #header .nav_box .nav {
      width: 1220px;
      height: 35px;
      margin: 0 auto; }
      #header .nav_box .nav .nav_all {
        float: left;
        width: 250px;
        text-align: center;
        height: 25px;
        padding: 10px 0 3px 0;
        background-color: #D71E00;
        z-index: 1000; }
        #header .nav_box .nav .nav_all a {
          display: block;
          color: #000;
          font-size: 18px;
          text-align: center; }
        #header .nav_box .nav .nav_all .nav_two {
          background-color: #222222;
          height: 500px;
          z-index: 1000; }
          #header .nav_box .nav .nav_all .nav_two .nav_tbox {
            position: relative;
            height: 60px; }
            #header .nav_box .nav .nav_all .nav_two .nav_tbox dl:nth-child(1) {
              margin-top: 4px; }
            #header .nav_box .nav .nav_all .nav_two .nav_tbox dl {
              width: 238px;
              height: 60px;
              border-bottom: 1px dotted #fff;
              margin-left: 5px;
              padding-top: 1px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox dl dt {
                display: block;
                margin-left: -80px; }
                #header .nav_box .nav .nav_all .nav_two .nav_tbox dl dt a {
                  display: block;
                  font-size: 14px;
                  width: 238px;
                  padding-left: 10px;
                  color: #fff; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox dl dd {
                padding-left: 5px; }
                #header .nav_box .nav .nav_all .nav_two .nav_tbox dl dd .nav_dd {
                  overflow: hidden; }
                  #header .nav_box .nav .nav_all .nav_two .nav_tbox dl dd .nav_dd a {
                    font-size: 15px;
                    float: left;
                    padding-right: 5px;
                    color: #fff; }
            #header .nav_box .nav .nav_all .nav_two .nav_tbox:hover {
              background-color: #fff; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox:hover dt a {
                color: #C81623; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox:hover .nav_dd a {
                color: #666; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox:hover .nav_dd a:hover {
                color: #FF0000; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox:hover .nav_three {
                display: block; }
            #header .nav_box .nav .nav_all .nav_two .nav_tbox {
              position: relative; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three {
                position: absolute;
                left: 250px;
                top: 0;
                width: 734px;
                height: 652px;
                border: 2px solid #B1191A;
                display: none;
                z-index: 1000;
                background-color: #fff; }
                #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox {
                  padding: 10px 10px 10px 20px;
                  position: relative; }
                  #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox ul {
                    position: absolute;
                    right: 0;
                    top: 0; }
                    #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox ul li {
                      margin: 5px 5px 20px 0; }
                  #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox dl {
                    width: 489px;
                    height: 90px;
                    border-top: 1px dotted #ccc; }
                    #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox dl dt {
                      width: 260px;
                      margin: 10px 0;
                      text-align: left;
                      font-size: 14px;
                      color: #D61E00;
                      font-weight: bold; }
                    #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox dl dd {
                      float: left;
                      padding-left: 10px; }
                      #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox dl dd a {
                        font-size: 14px;
                        color: #666; }
                        #header .nav_box .nav .nav_all .nav_two .nav_tbox .nav_three .nav_minbox dl dd a:hover {
                          color: #FF0000; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t2 {
                top: -64px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t3 {
                top: -128px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t4 {
                top: -192px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t5 {
                top: -256px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t6 {
                top: -320px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t7 {
                top: -384px; }
              #header .nav_box .nav .nav_all .nav_two .nav_tbox .t8 {
                top: -448px; }
      #header .nav_box .nav .nav_data {
        float: left; }
        #header .nav_box .nav .nav_data li {
          float: left;
          padding: 0 15px;
          height: 25px;
          padding-top: 10px; }
          #header .nav_box .nav .nav_data li a {
            color: #000; }
        #header .nav_box .nav .nav_data li:hover {
          background-color: #D71E00; }

#Service {
  width: 0px;
  height: 445px;
  background-color: #FF3C3C;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1000;
  border-radius: 10px 0 0 10px/10px 0 0 10px; }
  #Service .online {
    width: 170px;
    height: 200px;
    background-color: #fff;
    margin: 8px 6px;
    border-radius: 5px; }
    #Service .online h4 {
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #FF3C3C;
      border-bottom: 1px solid #FF3C3C;
      width: 150px;
      margin-left: 10px; }
    #Service .online p {
      height: 30px;
      padding: 5px 0;
      line-height: 30px;
      text-align: center; }
      #Service .online p a {
        display: inline-block;
        height: 25px;
        width: 100px;
        border: 1px solid #FF9D9D;
        border-radius: 8px;
        line-height: 25px;
        text-align: center;
        background-color: #FFD8D8;
        position: relative; }
        #Service .online p a i {
          display: block;
          width: 25px;
          height: 29px;
          background-image: url(../css/img/sprite1.fw.png);
          background-position: -951px 0px;
          margin-left: 20px;
          margin-top: 10px;
          position: absolute;
          left: -30px;
          top: -15px; }
        #Service .online p a .unl {
          width: 42px;
          height: 36px;
          background-image: url(../css/img/sprite1.fw.png);
          background-position: -577px -76px;
          left: -45px;
          top: -20px; }
    #Service .online .ull {
      border-top: 1px solid #FF3C3C;
      padding-top: 10px; }
  #Service .QR {
    width: 170px;
    height: 160px;
    background-color: #fff;
    margin: 0 0 5px 6px;
    border-radius: 5px; }
    #Service .QR span {
      display: block;
      width: 136px;
      height: 154px;
      background-image: url(../css/img/sprite1.fw.png);
      background-position: -84px -160px;
      margin-left: 20px; }
  #Service .pnum {
    width: 170px;
    height: 60px;
    background-color: #fff;
    margin: 6px;
    border-radius: 5px;
    overflow: hidden; }
    #Service .pnum span {
      display: block;
      width: 136px;
      height: 40px;
      background-image: url(../css/img/sprite1.fw.png);
      background-position: -433px -80px;
      margin-left: 20px;
      margin-top: 10px; }
  #Service > span {
    display: block;
    width: 40px;
    height: 129px;
    background-color: #FF3C3C;
    position: absolute;
    left: -40px;
    top: 160px;
    border-radius: 6px 0 0 6px/6px 0 0 6px;
    font-size: 25px; }
    #Service > span a {
      display: block;
      width: 31px;
      height: 122px;
      background-image: url(../css/img/sprite1.fw.png);
      background-position: -46px -160px;
      margin-left: 8px; }

#Top {
  width: 60px;
  height: 55px;
  position: fixed;
  right: 0;
  bottom: 20px;
  border-radius: 10px 0 0 10px/10px 0 0 10px;
  border: 1px solid #E7E7E7;
  background-color: white; }
  #Top a {
    display: block;
    width: 49px;
    height: 49px;
    background-image: url(../css/img/sprite1.fw.png);
    background-position: -375px -81px;
    margin: 4px 0 0 4px; }
  #Top:hover {
    background-color: #FF3C3C; }
    #Top:hover a {
      background-position: -307px -81px; }

#rab {
  height: 511px;
  width: 1220px;
  margin: 0 auto; }
  #rab .rab_box {
    height: 511;
    width: 982px;
    float: right; }
    #rab .rab_box .rab_car {
      width: 549px;
      height: 511px;
      float: left;
      margin: 5px; }
      #rab .rab_box .rab_car p {
        margin-left: 35px; }
        #rab .rab_box .rab_car p span:nth-child(1) {
          font-weight: bold;
          font-size: 14px;
          margin-right: 10px; }
        #rab .rab_box .rab_car p span:nth-child(2) {
          font-size: 14px; }
      #rab .rab_box .rab_car .car_one {
        width: 529px;
        height: 267px;
        margin-left: 15px; }
      #rab .rab_box .rab_car .car_two {
        width: 529px;
        height: 204px;
        border-top: 3px solid #aa1800;
        margin-left: 15px; }
    #rab .rab_box .rab_pitrue {
      width: 190px;
      height: 511px;
      float: left;
      margin-top: 5px; }
      #rab .rab_box .rab_pitrue p a {
        font-weight: bold;
        font-size: 14px; }
      #rab .rab_box .rab_pitrue p a:hover {
        color: #CC1007; }
    #rab .rab_box .rab_aside {
      width: 233px;
      height: 511px;
      float: left; }
      #rab .rab_box .rab_aside .aside_head p {
        padding: 15px 0 0 12px;
        width: 226px;
        height: 81px;
        background-color: #E7E7E7; }
        #rab .rab_box .rab_aside .aside_head p img {
          float: left; }
        #rab .rab_box .rab_aside .aside_head p span {
          font-size: 14px;
          padding-left: 20px; }
      #rab .rab_box .rab_aside .aside_head .aside_a {
        width: 236px;
        height: 41px;
        border-right: 2px solid #E7E7E7; }
        #rab .rab_box .rab_aside .aside_head .aside_a a {
          height: 39px;
          line-height: 39px;
          width: 115px;
          display: block;
          float: left;
          text-align: center;
          float: left;
          border: 1px solid #E7E7E7;
          font-size: 14px;
          color: #6C6C6C; }
        #rab .rab_box .rab_aside .aside_head .aside_a .a1 {
          margin-right: 2px; }
        #rab .rab_box .rab_aside .aside_head .aside_a a:hover {
          color: #FF0000; }
      #rab .rab_box .rab_aside .aside_bod {
        width: 236px;
        height: 165px;
        border: 1px solid #E7E7E7;
        border-top: none; }
        #rab .rab_box .rab_aside .aside_bod .aside_nav li {
          float: left;
          padding: 5px 22px;
          border: 1px solid #E7E7E7;
          background-color: #F5F5F5; }
        #rab .rab_box .rab_aside .aside_bod .fadeOut {
          padding: 0px 0 0 20px; }
          #rab .rab_box .rab_aside .aside_bod .fadeOut li {
            font-size: 12px; }
            #rab .rab_box .rab_aside .aside_bod .fadeOut li a {
              display: block;
              padding-top: 5px;
              color: #666; }
            #rab .rab_box .rab_aside .aside_bod .fadeOut li a:hover {
              color: #D61E00; }
            #rab .rab_box .rab_aside .aside_bod .fadeOut li:nth-child(-n+2) a {
              color: #D61E00; }
      #rab .rab_box .rab_aside .aside_mark {
        width: 236px;
        height: 70px;
        border: 1px solid #E7E7E7; }
        #rab .rab_box .rab_aside .aside_mark ul li {
          float: left; }
          #rab .rab_box .rab_aside .aside_mark ul li a {
            display: block;
            font-size: 12px;
            color: #666;
            padding: 30px 20px 10px 21px;
            margin-top: 10px;
            border-right: 1px solid #E7E7E7;
            position: relative; }
            #rab .rab_box .rab_aside .aside_mark ul li a i {
              display: block;
              position: absolute;
              width: 39px;
              height: 35px;
              background-image: url(img/sprite1.fw.png);
              background-position: -189px -41px;
              left: 20px;
              top: -5px; }
          #rab .rab_box .rab_aside .aside_mark ul li:nth-child(2) a i {
            background-position: -231px -41px; }
          #rab .rab_box .rab_aside .aside_mark ul li:nth-child(3) a {
            border: none; }
            #rab .rab_box .rab_aside .aside_mark ul li:nth-child(3) a i {
              background-position: -278px -41px; }
          #rab .rab_box .rab_aside .aside_mark ul li a:hover {
            color: #FF0000; }
      #rab .rab_box .rab_aside .aside_foot {
        width: 236px;
        height: 124px;
        border: 1px solid #E7E7E7; }
        #rab .rab_box .rab_aside .aside_foot dl {
          padding: 10px 0 0 10px; }
          #rab .rab_box .rab_aside .aside_foot dl dt {
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: bold; }
          #rab .rab_box .rab_aside .aside_foot dl dd {
            font-size: 12px;
            color: #666666; }

.xcarousel {
  position: relative;
  width: 529px;
  height: 267px;
  overflow: hidden; }

.xcarousel ul {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.xcarousel ul.horizontal li {
  float: left; }

.xcarousel ul.fade li {
  position: absolute;
  top: 0;
  left: 0; }

.xcarousel img {
  display: block;
  width: 529px;
  height: 267px; }

.xcarousel .page {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%); }

.xcarousel .page span {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  background: #ccc;
  border-radius: 50%;
  margin: 0 3px;
  text-indent: -1000px; }

.xcarousel .page span.active {
  background: red; }

.xcarousel > span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  width: 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff; }

.xcarousel .btn-next {
  left: auto;
  right: 10px; }

/*
                小图
                 */
.xcarousel .small {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 40px;
  overflow: hidden; }

.xcarousel .small li {
  float: left; }

.xcarousel .small img {
  width: 40px; }

#logo_home {
  width: 1220px;
  height: 260px;
  margin: 0 auto;
  padding-bottom: 20px; }
  #logo_home h1 {
    font-weight: normal;
    font-size: 18px;
    color: #D31623;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #CA2430;
    padding-left: 10px; }
  #logo_home ul {
    width: 1220px;
    height: 218px;
    border: 1px solid #E7E7E7;
    border-bottom: none; }
    #logo_home ul li {
      width: 121px;
      height: 108px;
      float: left;
      border-right: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      position: relative; }
      #logo_home ul li img {
        display: block;
        width: 121px;
        height: 108px; }
      #logo_home ul li .cover {
        width: 121px;
        height: 108px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #333333;
        opacity: 0.95;
        display: none; }
        #logo_home ul li .cover p {
          padding: 30px 0 0 30px;
          font-size: 14px;
          color: #fff; }
        #logo_home ul li .cover a {
          display: block;
          margin: 10px 0 0 30px;
          width: 68px;
          height: 20px;
          font-size: 14px;
          background-color: #FF0000;
          border-radius: 10px;
          text-align: center;
          color: #fff; }
      #logo_home ul li:hover .cover {
        display: block; }

#tower {
  width: 1220px;
  margin: 15px auto; }
  #tower #F1 {
    width: 1220px;
    height: 531px;
    margin-top: 20px; }
    #tower #F1 .F1_head {
      height: 37px;
      border-bottom: 2px solid #CA2430; }
      #tower #F1 .F1_head a {
        display: block;
        width: 1220px; }
        #tower #F1 .F1_head a span:nth-child(1) {
          display: block;
          width: 50px;
          height: 35px;
          background-color: #C81622;
          text-align: center;
          line-height: 35px;
          color: #fff;
          float: left;
          margin: 2px 10px 0 0; }
        #tower #F1 .F1_head a span:nth-child(2) {
          line-height: 35px;
          height: 35px;
          text-align: center;
          color: #C81623; }
        #tower #F1 .F1_head a span:nth-child(3) {
          font-size: 12px;
          color: #656565; }
    #tower #F1 .F1_bod {
      width: 1220px;
      height: 494px; }
      #tower #F1 .F1_bod .F1_left {
        width: 215px;
        height: 493px;
        float: left; }
        #tower #F1 .F1_bod .F1_left div {
          height: 165px;
          border-left: 1px solid #e7e7e7;
          position: relative;
          border-bottom: 1px solid #e7e7e7; }
          #tower #F1 .F1_bod .F1_left div ul {
            float: left;
            padding: 10px 0 0 15px; }
            #tower #F1 .F1_bod .F1_left div ul h3 {
              font-size: 16px;
              color: #D31623; }
            #tower #F1 .F1_bod .F1_left div ul li a {
              font-size: 14px;
              color: #656565; }
            #tower #F1 .F1_bod .F1_left div ul li a:hover {
              color: #FF0000; }
          #tower #F1 .F1_bod .F1_left div img {
            float: right; }
        #tower #F1 .F1_bod .F1_left div:hover ul {
          position: absolute;
          top: 0;
          left: 0;
          height: 165px;
          width: 200px;
          background-color: #fff;
          opacity: 0.8; }
          #tower #F1 .F1_bod .F1_left div:hover ul li {
            float: left;
            padding-right: 30px; }
      #tower #F1 .F1_bod .F1_center {
        float: left;
        width: 758px;
        height: 494px; }
        #tower #F1 .F1_bod .F1_center ul li {
          float: left;
          width: 188px;
          height: 248px;
          border-left: 1px solid #e7e7e7;
          border-bottom: 1px solid #e7e7e7; }
          #tower #F1 .F1_bod .F1_center ul li > a {
            display: block;
            margin: 7px; }
          #tower #F1 .F1_bod .F1_center ul li img {
            width: 175px;
            height: 175px; }
          #tower #F1 .F1_bod .F1_center ul li h3 {
            font-size: 13px;
            font-weight: normal; }
            #tower #F1 .F1_bod .F1_center ul li h3 > a {
              color: #656565; }
            #tower #F1 .F1_bod .F1_center ul li h3 > a:hover {
              color: #FF0000; }
            #tower #F1 .F1_bod .F1_center ul li h3 .span1 {
              display: inline-block;
              background-color: #D51E00;
              color: #fff;
              width: 47px;
              height: 16px;
              text-align: center;
              margin: 15px 10px; }
            #tower #F1 .F1_bod .F1_center ul li h3 span {
              margin-top: 15px; }
              #tower #F1 .F1_bod .F1_center ul li h3 span a {
                color: #CC0000; }
              #tower #F1 .F1_bod .F1_center ul li h3 span a:hover {
                text-decoration: underline; }
        #tower #F1 .F1_bod .F1_center ul li:hover {
          box-shadow: -3px -1px 1px #C5C5C5,3px 3px 3px #C5C5C5; }
      #tower #F1 .F1_bod .F1_right {
        float: right; }
  #tower #more {
    height: 506px; }
    #tower #more .more_hea {
      height: 36px;
      margin-top: 20px;
      line-height: 32px;
      font-size: 13px;
      margin-top: 18px;
      border-bottom: 2px solid #d61e00; }
      #tower #more .more_hea h2 {
        font-weight: normal;
        font-size: 12px;
        color: #333333; }
    #tower #more .more_bod {
      height: 475px; }
      #tower #more .more_bod .bod_left {
        height: 469px;
        width: 377px;
        border: 1px solid #e7e7e7;
        float: left; }
        #tower #more .more_bod .bod_left h3 {
          height: 42px;
          width: 352px;
          margin: 0 auto;
          line-height: 42px;
          text-align: center;
          border-bottom: 1px solid #dbdbdb;
          margin-bottom: 20px; }
          #tower #more .more_bod .bod_left h3 b {
            float: left;
            font-size: 15px; }
          #tower #more .more_bod .bod_left h3 a {
            float: right;
            font-size: 15px;
            font-weight: normal;
            color: #000; }
        #tower #more .more_bod .bod_left .left_car {
          width: 370px;
          height: 245px;
          margin: 0 auto; }
          #tower #more .more_bod .bod_left .left_car img {
            width: 370px;
            height: 245; }
        #tower #more .more_bod .bod_left .left_ul {
          width: 344px;
          height: 144px;
          color: #666;
          list-style-type: square;
          margin: 20px 0 0 30px; }
          #tower #more .more_bod .bod_left .left_ul li a {
            font-size: 12px;
            color: #666; }
          #tower #more .more_bod .bod_left .left_ul li a:hover {
            color: #D71E00; }
      #tower #more .more_bod .bod_center {
        width: 427px;
        height: 469px;
        float: left;
        border-bottom: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7; }
        #tower #more .more_bod .bod_center h3 {
          height: 42px;
          width: 402px;
          margin: 0 auto;
          line-height: 42px;
          text-align: center;
          border-bottom: 1px solid #dbdbdb; }
          #tower #more .more_bod .bod_center h3 b {
            float: left;
            font-size: 15px; }
          #tower #more .more_bod .bod_center h3 a {
            float: right;
            font-size: 15px;
            font-weight: normal;
            color: #000; }
        #tower #more .more_bod .bod_center ul {
          width: 402px;
          height: 388px;
          margin: 0 auto; }
          #tower #more .more_bod .bod_center ul li {
            width: 402px;
            height: 116px;
            border-bottom: 1px dotted #e5e5e5;
            margin-bottom: 20px; }
            #tower #more .more_bod .bod_center ul li span {
              float: left; }
            #tower #more .more_bod .bod_center ul li p:nth-child(2) {
              padding: 20px 0 0 20px;
              padding-bottom: 6px;
              font-size: 15px;
              line-height: 23px;
              height: 23px;
              font-weight: bold;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
              #tower #more .more_bod .bod_center ul li p:nth-child(2) a {
                color: #666666; }
            #tower #more .more_bod .bod_center ul li p:nth-child(3) {
              color: #777;
              font-size: 12px;
              margin-left: 20px; }
              #tower #more .more_bod .bod_center ul li p:nth-child(3) a {
                color: #7398FF; }
      #tower #more .more_bod .bod_right {
        width: 413px;
        height: 469px;
        float: right;
        border-bottom: 1px solid #e7e7e7; }
        #tower #more .more_bod .bod_right h3 {
          height: 42px;
          width: 389px;
          margin: 0 auto;
          line-height: 42px;
          text-align: center;
          border-bottom: 1px solid #dbdbdb;
          margin-bottom: 20px; }
          #tower #more .more_bod .bod_right h3 b {
            float: left;
            font-size: 15px; }
          #tower #more .more_bod .bod_right h3 a {
            float: right;
            font-size: 15px;
            font-weight: normal;
            color: #000; }
        #tower #more .more_bod .bod_right ul {
          width: 389px;
          margin: 0 auto;
          height: 428px; }
          #tower #more .more_bod .bod_right ul li:nth-child(1) {
            height: 144px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #dbdbdb; }
            #tower #more .more_bod .bod_right ul li:nth-child(1) p {
              color: #575757;
              text-indent: 25px;
              line-height: 24px;
              font-size: 12px; }
          #tower #more .more_bod .bod_right ul li:nth-child(2) span {
            float: right;
            font-size: 12px;
            color: #666; }
          #tower #more .more_bod .bod_right ul li:nth-child(2) span:hover {
            color: #DD1D08; }
  #tower #flink .link_hea {
    width: 1220px;
    height: 22px;
    margin-top: 50px; }
    #tower #flink .link_hea ul li:nth-child(1) {
      float: left;
      font-size: 12px; }
    #tower #flink .link_hea ul li:nth-child(2) {
      float: right;
      font-size: 12px; }
      #tower #flink .link_hea ul li:nth-child(2) a {
        color: #666; }
  #tower #flink .link_content {
    width: 1220px;
    height: 101px;
    margin-top: 5px;
    border: 1px solid #e7e7e7;
    overflow: hidden; }
    #tower #flink .link_content ul {
      margin: 15px 0 0 20px; }
      #tower #flink .link_content ul li {
        float: left;
        font-size: 12px;
        color: #666;
        margin-bottom: 10px; }
        #tower #flink .link_content ul li a {
          color: #666;
          padding: 0 5px; }
        #tower #flink .link_content ul li a:hover {
          color: #FF0000; }

#footer {
  width: 1349px;
  border-top: 3px solid #D71E00;
  margin-top: 10px; }
  #footer .help {
    height: 309px; }
    #footer .help .main_img {
      margin: 20px auto;
      border-bottom: 1px solid #DDDDDD; }
      #footer .help .main_img img {
        margin: 20px auto; }
    #footer .help .content {
      width: 1220px;
      height: 134px;
      margin: 0 auto; }
      #footer .help .content .item_1 {
        padding-left: 50px; }
      #footer .help .content dl {
        float: left;
        padding-left: 15px;
        width: 120px;
        height: 94px;
        border-right: 1px solid #ccc;
        margin-left: 10px; }
        #footer .help .content dl dt {
          height: 34px;
          line-height: 34px;
          color: #000;
          font-size: 12px;
          padding-left: 0px; }
        #footer .help .content dl dd ul li {
          height: 20px;
          line-height: 20px;
          font-size: 12px; }
          #footer .help .content dl dd ul li a {
            color: #999999; }
          #footer .help .content dl dd ul li a:hover {
            text-decoration: underline; }
  #footer #footer_container {
    width: 1000px;
    margin: 0 auto; }
    #footer #footer_container .foot_img_ico {
      text-align: center;
      margin: 10px 0; }
      #footer #footer_container .foot_img_ico ul li {
        display: inline-block;
        zoom: 1;
        margin: 0 5px; }
    #footer #footer_container .foot_nav {
      text-align: center;
      color: #676767;
      line-height: 24px;
      font-size: 12px; }
      #footer #footer_container .foot_nav a {
        color: #676767; }
    #footer #footer_container .foot_text {
      text-align: center;
      line-height: 24px;
      color: #666;
      font-size: 12px; }
      #footer #footer_container .foot_text p a {
        color: #666;
        font-size: 12px; }
